[Unit]
Description=overplus - An proxy tool helps you bypass GFW
After=network.target
[Service]
User=root
ExecStart=/usr/bin/overplus -c /etc/overplus/server.json
Restart=on-failure
RestartSec=10s
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target